.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  font-size: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.471);
  top: 0;
  margin: 0;
  margin-left: 1rem;
  padding: 1rem 0;
}

.matrix{

  
  display: grid;
  grid-template-columns: repeat(5,5rem);
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
  gap: 0 1rem;
}

@keyframes typing{
  0%{transform: scale(1);}
  50%{transform: scale(1.1);}
  100%{transform: scale(1);}
}

.cell{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border: 2px solid black;
  background-color: white;
  margin: .2rem;
  border-radius: 5%;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  
}
.anim{
  animation-name: typing;
  animation-duration: .1s;
  
}

@keyframes flip-correct{
  0%{  background-color: white;}
  50%{
    background-color: white;
    transform: rotate3d(1,0,0,90deg);
    color: transparent;
  }
  100%{
    color: white;
    background-color: #2eb872;
    transform: rotate3d(1,0,0,0deg)
  }
}
@keyframes flip-different{
  0%{  background-color: white;}
  50%{
    background-color: white;
    transform: rotate3d(1,0,0,90deg);
    color: transparent;
  }
  100%{
    color: white;
    background-color: #d9b650;
    transform: rotate3d(1,0,0,0deg)
  }
}
@keyframes flip-incorrect{
  0%{  background-color: white;}
  50%{
    background-color: white;
    transform: rotate3d(1,0,0,90deg);
    color: transparent;
  }
  100%{
    color: white;
    background-color: #596e79;
    transform: rotate3d(1,0,0,0deg)
  }
}

.flip-correct{
  background-color: white;
  animation-name: flip-correct;
  animation-duration: .5s;
  animation-fill-mode:both;
  animation-timing-function: linear;
}
.flip-different{
  background-color: white;
  animation-name: flip-different;
  animation-duration: .5s;
  animation-fill-mode:both;
  animation-timing-function: linear;
}
.flip-incorrect{
  background-color: white;
  animation-name: flip-incorrect;
  animation-duration: .5s;
  animation-fill-mode:both;
  animation-timing-function: linear;
}



.game-over{
  display: grid;
  grid-template-rows: repeat(3,20% 70% 10%);
  position: absolute;
  margin-bottom: 15rem;
  width: 30rem;
  height: 40rem;
  background-color: white;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.093);
  padding: 0 1rem;
  padding-bottom: .5rem;
}
.game-over h1{
  display: flex;
  justify-content: center;
  font-size: 3rem;
}
.attempts,.word{
  font-size: 2rem;
  justify-self: center;
  align-self: center;
  margin-left: 1rem;
}

.restart{
  background-color: #385170;
  margin: auto;
  width: 90%;
  height: 100%;
  border: none;
  border-radius: 3%;
  font-size: 1.7rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.restart:hover{
  background-color: #142d4c;
}

.hidden{
  display: none;
}
.letters-c{
  margin-top: 5rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.row-c{
  display: flex;
  flex-direction: row;
  margin-top: .5rem;
}
.letter,.enter-btn,.backspace-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 .2rem;
  font-size: 2.5rem;
  width: 3rem;
  height: 4rem;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  background-color: #d7dde1;
}

.correct{
  background-color: #2eb872;
  color: #fff;
}

.different{
  background-color: #d9b650;
  color: #fff;
}

.incorrect{
  background-color: #596e79;
  color: #fff;
}

.enter-btn{
  padding: 0 3.5rem;
}

@media screen and (max-width:1920px) {
  .logo{
    font-size: 3rem;
  }

  .matrix{
    grid-template-columns: repeat(5,4rem);
  }

  .cell{
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
  }

  .game-over{
    width: 25rem;
    height: 32rem;
  }
  .game-over h1{
    font-size: 2.5rem;
  }
  .letter,.enter-btn,.backspace-btn{
    font-size: 2rem;
    width: 2.5rem;
    height: 3.5rem;
  }
}
@media screen and (max-width:1300px) {

  .logo{
    font-size: 2rem;
    padding: .5rem 0;
  }
  .matrix{
    grid-template-columns: repeat(5,3rem);
    gap: 0 .5rem;
  }

  .cell{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
  }

  .game-over{
    width: 20rem;
    height: 24rem;
    margin-bottom: 10rem;
  }
  .game-over h1{
    font-size: 2rem;
  }

  .letter,.enter-btn,.backspace-btn{
    font-size: 1.5rem;
    width: 2rem;
    height: 2.5rem;
  }
  .enter-btn{
    padding: 0 3rem;
  }
}

@media screen and (max-width:500px) {

  .logo{
    font-size: 1.5rem;
  }
  .matrix{
    grid-template-columns: repeat(5,2.5rem);
    gap: 0 .5rem;
  }

  .cell{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
  }

  .game-over{
    width: 15rem;
    height: 20rem;
    margin-bottom: 13rem;
  }
  .game-over h1{
    font-size: 1.5rem;
  }
  .attempts,.word{
    font-size: 1.5rem;
  }

  .restart{
    font-size: 1.4rem;
  }
  .letter,.enter-btn,.backspace-btn{
    font-size: 1.5rem;
    width: 1.8rem;
    height: 2.4rem;
    margin: 0 .1rem;
  }
  .enter-btn{
    padding: 0 2.5rem;
  }
}